.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}
.column_logo{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.column{
  display: flex;
  flex-direction: column;
}
.logo_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company_logo {
  display: flex;
  border-radius: 100%;
  width: 41px;
  height: 41px;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--primary-color);
  margin-right: 2%;
  text-align: center;
  color: var(--dot-color);
  justify-content: center;
  align-items: center;
}

.company_name {
  color: var(--primary-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}
.text_block_under_logo {
  color: var(--primary-color);
  font-size: 18;
  font-style: normal;
  font-weight: 300;
  width: 46%;
}
.text_block{
  color: var(--primary-color);
  font-size: 18;
  font-style: normal;
  font-weight: 300;
  width: 46%;
  padding-top: 3%;
}
.header_text_column {
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.default_text_column {
  color: var(--primary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  text-decoration: none;
}

.categories_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  padding-right: 10%;
}
